<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <!-- <script src="handlebars-v4.7.7.js"></script> --> <!-- я подключу это потом -->
  </head>
  <body>
    <h1>Fu<span class="def_letter_1">t</span>ure is c<span class="def_letter_2">om</span>ing</h1>
    <form>
      <button>Login</button><button>Register</button>
    </form>
  </body>
</html>
