extends template.pug

block content

  div
    h2.day Welcome to the
    h1.day NCityLab

    div.links
      a.button.day_button(href ="/timer") Timer
      a.button.day_button(href ="/about") About
