<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h2>Welcome to the</h2>
    <h1 class="nigth">NCityLab</h1>
    <a href ="/about" class="button_shine">About this place</a>
  </body>
</html>
