<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Fu<span class="def_letter_1">t</span>ure is c<span class="def_letter_2">om</span>ing</h1>
    {{#if User}}
      <h1>Welcome</h1>
      <form class="auth_n_auth" action="/logout" method="get">
        <input type="submit" id="logout" name="logout" value="Logout"><br>
      </form>

    {{else}}

      </div>
      <form>
        <button href="#" class="js-open-modal button_shine" data-modal="1">Login</button>
        <button href="#" class="js-open-modal button_shine" data-modal="2">Register</button>
      </form>
      <div class="modal" data-modal="1">
        <button class="js-modal-close modal_button_close">Close</button>
        <p class="modal_title">Sign in</p>
        <form class="auth_n_auth" action="/signin" method="post">
          <label for="login_signin">Login</label><br>
          <input type="text" id="login_signin" name="login"><br>
          <label for="password_signin">Password</label><br>
          <input type="password" id="password_signin" name="password"><br>
          <input type="submit" value="Sign in" class="modal_button_submit">
        </form>
      </div>
      <div class="modal" data-modal="2">
        <button class="js-modal-close modal_button_close">Close</button>
        <p class="modal_title">Sign up</p>
        <form class="auth_n_auth" action="/signup" method="post">
          <label for="login_signup">Login</label><br>
          <input type="text" id="login_signup" name="login"><br>
          <label for="password_signup">Password</label><br>
          <input type="password" id="password_signup" name="password"><br>
          <input type="submit" value="Sign up" class="modal_button_submit">
        </form>
      </div>

    {{/if}}
    <div class="overlay" id="overlay-modal"></div>
    <script src="modal.js"></script>
  </body>
</html>
