extends template.pug

block content

  div.links

    form(action='/form' method="POST")
      | Name
      input(type="text" name="Name" placeholder="Input your name")
      | Age
      input(type="text" name="Age" placeholder="Input your age")
      input(type="submit" value="Submit")

  div.links
    a.button.day_button(href ="/") Dashboard
