doctype html

html(lang="ru")
  head
    block head
      meta(charset="utf-8")
      title #{title}
      link(rel="stylesheet" href="style.css")
      link(rel="stylesheet" href="day.css" id="theme_link")
      link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

  body(id="body")

    div.switch_div
      img(src="/img/day_sun.png")
      label.switch
        input(type="checkbox" id="day_night")
        span.slider.round
      img(src="/img/night_moon.png")

    block content

  block scripts
    script(src="day_night.js")
