body {
  background-color: #000;
}

h1,
h2 {
  color: #d00030;
  text-shadow: #f00030 0 0 10px; /*свечение для надписи*/
}

a {
  border-color: #d00030;
  background-color: #000;
  color: #d00030;
  box-shadow: 0 0 10px  #f00030;
  text-shadow: #f00030 0 0 10px; /*свечение для надписи*/
}

a:hover{
  font-weight: bold;
  box-shadow: 0 0 100px #f00030; /*свечение для надписи*/
}
