html {
  background-color: #000000;
}

h1 {
  color: #d00030;
  position: absolute; /*начало растягивания по всему родительскому элементу*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; /*конец растягивания по всему родительскому элементу*/
  /*text-align: center; /*выравниваю текст по ширине*/
  /*margin: auto; /*выравниваю блок по ширине*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: #f00030 0 0 10px; /*свечение для надписи*/
  font-size: 100px;
  font-family: "Neon";
}

.def_letter_1 {
  animation: neon_1 linear infinite 3s;
}

@keyframes neon_1 {
    80% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: inherit;
        tex-shadow: none;
    }

    84% {
      color: #300;
      text-shadow: none;
    }
}

.def_letter_2 {
  animation: neon_1 linear infinite 5s;
}

@keyframes neon_2 {
    50% {
        color: inherit;
        text-shadow: inherit;
    }

    52% {
        color: inherit;
        tex-shadow: none;
    }

    54% {
      color: #300;
      text-shadow: none;
    }
}

@font-face {
  font-family: "Neon";
  src: url("fonts/neon_club_music.otf");
}
