@font-face {
  font-family: "Neon";
  src: url("fonts/neon_future.ttf");
}

@font-face {
  font-family: "Timer";
  src: url("fonts/clock.ttf");
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-family: "Neon";
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Neon";
  text-align: center;
}

div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  margin: 10px;
}

/* label {
  display: flex;
  flex-direction: row;
}

input:checked + .slider {
  background-color: #d00030;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: black;
} */

img {
  margin: 0px 10px 20px 10px;
  position: relative;
  top: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  height: auto;
}

.timer {
  height: 100px;
  font-family: "Timer";
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  font-family: "Neon";
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  border-width: medium;
  border-style: ridge;
  margin-top: 20px;
  padding: 15px;
  padding-bottom: 0px;
}

.switch_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  right: 10px;
  height: 50px;
  width: 20%;
}

input[type=checkbox] {
    display: block;
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    outline: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

input[type='checkbox']:not(:checked) {
 background-image: url('/img/night_moon.png');
}

input[type='checkbox']:checked {
 background-image: url('/img/night_sun.png');
}



/*

.switch {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 60px;
  height: 34px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4C212B;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
