html {
  height: 100%;
  padding: auto;
}

body {
  height: 100%;
  margin: auto;
}

h1 {
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer {
  flex: 0 0 auto;
  margin: 5px;
  text-align: end;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
