div {
  padding: 10px;
}

h1 {
  color: green;
}

.center {
  text-align: center;
  background-color: rgba(0, 128, 0, 0.2);
}

.right {
  text-align: right;
}

.lightgreen {
  background-color: rgba(172, 255, 47, 0.2);
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
